<launch>
        <node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
            <!-- 反馈 -->
            <!-- <remap from="~odom" to="/vicon_imu_ekf_odom" /> -->
            <remap from="odom" to="mavros/local_position/odom" />
            <!-- syz更改适配VINS -->
            <!-- <remap from="odom" to="vins_estimator/odometry" />   -->
            <!-- <remap from="odom" to="/body_odom" />   -->

			<!-- 期望 -->
            <remap from="cmd" to="planning/pos_cmd" />

            <rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />
        </node>
</launch>
